---
// import { nagite } from "nagireact-dom";
import { useEffect, useState } from "react";
import { deleteApiResponseById, getApiResponse } from "../libs/api-libs";
import { axiosIntense } from "../libs/axios";

const { api } = Astro.props;
const [products, setproduct] = useState([]);
const product = async () => {
  const response = await getApiResponse("products", "limit=10");
  setproduct(response.data);
};
useEffect(() => {
  product();
}, []);
---

<div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead>
      <tr>
        <th>Name</th>
        <th>deskripsi</th>
        <th>price</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      {
        product.map((product) => {
          return (
            <tr>
              <td>{product.name}</td>
              <td>{product.deskripsi}</td>
              <td>$ {product.price}</td>
              <td>
                <a href={`/Products/update/${product.id}`}>
                  <button class="btn btn-primary">update</button>
                </a>
                <a href={`/Products/${product.id}`}>
                  <button class="btn btn-primary">delete</button>
                </a>
              </td>
            </tr>
          );
        })
      }
    </tbody>
  </table>
</div>
