---
// import { nagite } from "nagireact-dom";

import { deleteApiResponseById, getApiResponse } from "../libs/api-libs";
import { axiosIntense } from "../libs/axios";

const { api } = Astro.props;
---

<div class="overflow-x-auto">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th>Name</th>
        <th>deskripsi</th>
        <th>price</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      {
        api.data.map((product) => {
          return (
            <tr>
              <td>{product.name}</td>
              <td>{product.deskripsi}</td>
              <td>$ {product.price}</td>
              <td>
                <a href={`/Products/update/${product.id}`}>
                  <button class="btn btn-primary">update</button>
                </a>
                <a href={`/Products/${product.id}`}>
                  <button class="btn btn-primary">delete</button>
                </a>
              </td>
            </tr>
          );
        })
      }
    </tbody>
  </table>
</div>; ---
